/*section*/
html{
    max-width: 1500px;
}
.head-type{
    background-color:#F9F8FB;
    display: flex; 
}
.head-type_one{
    margin-left: 189px;
    margin-top: 41px;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}
.head-type_list{
    list-style: none;
    margin-bottom: 50px;
    margin-left: 404px;
    margin-top: 57px;
    padding-left: 50px;
    margin-bottom: 50px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.head-type_list_li{
    padding-left: 50px;
    display: inline;
}
.body-type{
    background-color:#F9F8FB;
}
.body-type_fresh_head{
    position: absolute;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    margin-top: 350px;
    margin-left: 161px;
}
.body-type_fresh_torso{
    position: absolute;
    font-size: 17px;
    font-family: 'Raleway'; 
    font-weight: 300;
    max-width: 370px;
    max-height: 92px;
    margin-top: 436px;
    margin-left: 165px;
}
a.body-type_fresh_button {
    position: absolute;
    font-weight: 300;
    font-family: 'Raleway'; 
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #FF6033;
    box-shadow: 0 -3px#FF6033 inset;
    transition: 0.2s;
    margin-top: 541px;
    margin-left: 165px;
  } 
  a.body-type_fresh_button:hover { 
background:#FF6033; 
}
  a.body-type_fresh_button:active {
    background: #FF6033;
    box-shadow: 0 3px #FF6033 inset;
  }
.foot-type{
    background-color: #00B9B9;
    margin-top: -100px;
}
.foot-type_txt_head{
    position: absolute;
    margin-left: 761px;
    margin-top: -500px;
    font-size: 90px;
    color: white;
    font-family: 'Raleway'; 
    font-weight: 700;
}
.foot-type_txt_body{
    position: absolute;
    margin-left: 761px;
    margin-top: -400px;
    font-size: 17px;
    color: white;
    font-family: 'Raleway'; 
    font-weight: 300;
    max-width: 500px;
    max-height: 225px;
}
p{
    padding-bottom: 25px;
}
/*section1*/
.maket{
    background-color: #70BFFF;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    display: flex;
}
.maket-list-ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 265px;
    padding-top: 179px;
    padding-bottom: 151px;
}
.maket-list-ul_li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 100px;
    width: 400px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.maket-photo_img{
    margin-left: 208px;
    margin-top: 100px;
}
.maket-photo_img_txt{
    position: absolute;
    font-size: 90px;
    font-weight: 700;
    color: white;
    margin-left: -500px;
    margin-top: 211px;
}
/*section2*/
.GALLERY{
    background-color: #FFE92F;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif; 
}
.GALLERY-head{
    margin-top: 80px;
    font-weight: 700;
    font-size: 90px;
    color: #262626;
}
.GALLERY-body{
    margin-top: 25px;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}
.GALLERY-img{
    display: flex;
    flex-wrap: wrap;
    margin-left: 165px;
    margin-top: 28px;
}
.GALLERY-button{
    margin-top: 55px ;
    padding-bottom: 120px;
}
.GALLERY-button_clas {
    font-weight: 300;
    font-family: 'Raleway'; 
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #5585A2;
    box-shadow: 0 -3px#5585A2 inset;
    transition: 0.2s;
  } 
.GALLERY-button_clas:active {
    background: #5585A2;
    box-shadow: 0 3px#5585A2 inset;
  }
/*section3*/
.input{
    background-image: url(/css/card/card1.png);
    height: 500px;
    font-family: 'Raleway', sans-serif;
}
.input-cls{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    padding-top: 135px;
    padding-left: 165px;
    margin-bottom: 115px;
}
.input-cls-head{
    font-size: 40px;
    font-weight: 700;
}
.input-cls-body{
    font-size: 17px;
    font-weight: 300;
    line-height: 2;
}
.input-cls-block{
    display: flex;
}
.input-cls-block-touch{
    font-weight: 300;
    font-family: 'Raleway'; 
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #96B92C;
    box-shadow: 0 -3px#96B92C inset;
    transition: 0.2s;
}
.input-cls-block-touch{
    width: 170px;
    height: 27px;
    text-align: center;
    font-size: 20px;
}
.input-cls-block-wbc{
    width: 570px;
    height: 55px;
}
.input-cls-block-touch :visited{
    color: white;
}
/*section4*/
.secta{
    background-color: #B07CF7;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secta-images{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin-top: 30px;
}
.secta-head{
    text-align: center;
    padding-top: 81px;
    font-size: 90px;
    font-weight: 700;
}
.secta-body{
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    line-height: 2;
}
.secta-images_one{
    background-image: url(/images/section4/Clip.png);
    width: 370px;
    height: 310px;
}
.secta-images_two{
    background-image: url(/images/section4/img.png);
    width: 370px;
    height: 310px;
}
.secta-images_three{
    background-image: url(/images/section4/photo.png);
    width: 370px;
    height: 310px;
}
.secta-images_blok{
    margin: 30px;
    box-sizing: border-box;
    background-color:#707070;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.secta-images_txt{
    padding-top: 114px;
    font-size: 20px;
}
/*section5*/
.body{
    background-image: url(/images/section5/Group\ 1.png);
    font-family: 'Raleway', sans-serif;
    width: 1500px;
    height: 866px;
}
.headstop{
    text-align: center;
    padding-top: 80px;
}
.cahee{
    border: none;
}
.cahee-list{
    list-style-type: none;
    padding-top: 70px;
    padding-left: 165px;
}
.cahee-list_li{
    padding-bottom: 15px;
}
input{
    background-color: #00C4C4;
    opacity: 0.5;
    height: 50px;
    width: 500px;
    border: none;
}
.cahee-list_li_two{
    height: 250px;
    width: 500px;
}
.headstop_cahee{
    display: flex;
}
.headstop_one{
font-size: 90px;
font-weight: 700;
}
.headstop_two{
font-size: 17px;
}
li :hover{
    opacity: 1;
    border-left: solid #355B82 5px ;
}
.contact{
display: flex;
flex-direction: column;
padding-left: 170px;
padding-top: 70px;
}
.contact_one{
font-size: 17px;
font-weight: 800;
padding-bottom: 10px;
}
.contact_two{
font-size: 20px;
font-weight: 300;
padding-top: 10px;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: #262626;
    align-items: center;
    height: 90px;
    margin-top: 35px;
    color: #B9B9B9;
}
.footer_two{
    font-family: 'Pacifico', cursive;
    font-size: 25px;

}
.footer_three_span{
    color: #FF2B58;
}
/*media*/
@media screen and (max-width:992px)